{% extends "music/discography/disc-view.html" %}

{% block title %}Blue Moon{% endblock %}

{% block backgroundColor %} '#4C7CCC' {% endblock %}
{% block textColor %} '#333037' {% endblock %}

{% block discTitle %} Blue Moon {% endblock %}

{% block discArt %} {{ url_for('static', filename='img/albumart/Blue Moon Cover.jpg') }} {% endblock %}

{% block discDescription %}
The feelings of loneliness and solitude in the nighttime have always pushed me to create more music.
Every song on this project, for me, constitutes some deep form of self-reflection I've made under the veil of night.
I wanted to reveal myself with rawness and vulnerability in my art.
There's something maddening about night's isolation and sensory depravation.
Creativity can be fickle and elusive, and it can hit you during the oddest times.
For me, it tends to unload all at once, once in a Blue Moon.
{% endblock %}

{% block discTracks %}
{% endblock %}