{% extends "music/discography/disc-view.html" %}

{% block title %}Blue Moon{% endblock %}

{% block backgroundColor %} '#4C7CCC' {% endblock %}
{% block textColor %} '#333037' {% endblock %}

{% block graphic %}
<img
    id="disc-graphic"
    src="{{ url_for('static', filename='img/albumart/blue-moon-graphic.png') }}"
    class="d-none d-md-block"
    style="left:-180px; opacity: 0.9; height: 600px;"
></img>
{% endblock %}

{% block customAnimation %}
<style>
/* Graphic Animation */
@keyframes disc-graphic {
    from {left: 0px; opacity: 0;} 
    to{left:-180px; opacity: 0.9;}
}
@-moz-keyframes disc-graphic {
    from {left: 0px; opacity: 0;} 
    to{left:-180px; opacity: 0.9;}
}
@-webkit-keyframes disc-graphic {
    from {left: 0px; opacity: 0;} 
    to{left:-180px; opacity: 0.9;}
}

@keyframes glow {
  from {
    box-shadow: 0 0 500px -500px white;
  }
  to {
    box-shadow: 0 0 500px 500px white;
  }
}

</style>
{% endblock %}

{% block accent %}
<img
    id="disc-accent"
    src="{{ url_for('static', filename='img/albumart/blue-moon-moon.png') }}"
    class="d-none d-md-block offscreen"
    style="left:620px; top: 150px; opacity: 0.1; height: 300px; animation: glow 3s infinite alternate; border-radius: 50%;"
></img>
{% endblock %}


{% block discTitle %} Blue Moon {% endblock %}
{% block discType %} Extended Play {% endblock %}
{% block discDate %} 12/11/2020 {% endblock %}
{% block discRuntime %} 18:00 {% endblock %}

{% block discArt %} {{ url_for('static', filename='img/albumart/Blue Moon Cover.jpg') }} {% endblock %}
{% block discArtBack %} {{ url_for('static', filename='img/albumart/Blue Moon Cover Back.jpg') }} {% endblock %}

{% block discDescription %}
The feelings of loneliness and solitude in the nighttime have always pushed me to create more music.
Every song on this project, for me, constitutes some deep form of self-reflection I've made under the veil of night.
I wanted to reveal myself with rawness and vulnerability in my art.
There's something maddening about night's isolation and sensory depravation.
Creativity can be fickle and elusive, and it can hit you during the oddest times.
For me, it tends to unload all at once, once in a Blue Moon.
{% endblock %}

{% block discTracks %}
{% endblock %}

{% block linkStream %}https://distrokid.com/hyperfollow/maxfung/blue-moon{% endblock %}
{% block linkSpotify %}https://prf.hn/click/camref:1101ljvYv/pubref:albumuuid%3D68BFCBCA-F602-4541-BCC0D82FAD958760/destination:https://open.spotify.com/album/3OEhxvsKtUZMEZxOjzKz5V{% endblock %}
{% block linkApple %}https://music.apple.com/us/album/blue-moon-ep/1540031394?uo=4{% endblock %}
{% block linkYouTube %}https://music.youtube.com/playlist?list=OLAK5uy_mvtgaWfNidJJtnaEwTwEx0IegdJAxCnZw{% endblock %}