{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/music.css') }}">
{% endblock %}

{% block title %}
{% endblock %}

{% block navbar_brand_link %}
href="/"
{% endblock %}

{% block content %}

{% block customAnimation %}{% endblock %}
{% block customAccentStyle %}{% endblock %}

<div style="position: relative;">
    {% block graphic %}{% endblock %}
    {% block accent %}{% endblock %}
    <div id="disc-content" class="container">
        <div id="disc-body" class="row container art-container">
            <div id="disc-art-scene" class="row">
                
                <div id="flip-prompt">
                    <i
                        class="bi-arrow-return-left"
                        style="margin: auto;"
                    ></i>
                </div>
                <div id="disc-art" style="padding: 0;">
                    <img
                    class="disc-art-face disc-art-front"
                    src='{% block discArt %}{% endblock %}'
                    class="img-fluid"
                    style="padding: 0;"/>
                    <img
                    class="disc-art-face disc-art-back"
                    src='{% block discArtBack %}{% endblock %}'
                    class="img-fluid"
                    style="padding: 0;"/>
                </div>
            </div>
            <div id="disc-info">
                <div id="disc-header" class="row top-pad" style="margin: auto; max-height: 100%;">
                    <div class="row">
                        <div class="col">
                            {% block discTitle %}{% endblock %}
                        </div>
                        <div class="col-auto">
                            {% block discType %}{% endblock %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            {% block discDate %}{% endblock %}
                        </div>
                        <div class="col-auto">
                            {% block discRuntime %}{% endblock %}
                        </div>
                    </div>
                </div>
                <div id="disc-description" class="row vertical-pad" style="margin: auto; font-size: 14px;">
                    {% block discDescription %}{% endblock %}
                </div>
                </div>
            <div id="disc-tracks" class="row" style="margin: auto; max-height: 100%;">
                <table class="table text-muted">
                    <tbody>
                        {% block discTracks %}{% endblock %}
                    </tbody>
                </table>
            </div>
            <div id="disc-nav" class="row justify-content-center">
                <div class="col"><a class="nav-link" href="#tracks">Tracklist</a></div>
                <div class="col"><a id="link-photos" class="nav-link" href="#photos">Photos</a></div>
                <div class="col"><a class="nav-link" href="#videos">Videos</a></div>
                <div class="col"><a id="back-button" class="nav-link" href="/music">Back</a></div>
            </div>
            <div id="disc-nav" class="row justify-content-center top-pad">
                <div class="col"><a class="nav-link" href="{% block linkStream %}{% endblock %}" target="_blank">Stream:</a></div>
                <div class="col"><a class="nav-link" href="{% block linkSpotify %}{% endblock %}" target="_blank"><i class="bi-spotify"></i></a></div>
                <div class="col"><a class="nav-link" href="{% block linkApple %}{% endblock %}" target="_blank"><i class="bi-apple"></i></a></div>
                <div class="col"><a class="nav-link" href="{% block linkYouTube %}{% endblock %}" target="_blank"><i class="bi-youtube"></i></a></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='js/discView.js')}}"></script>
<script>
    setupDiscView({% block backgroundColor %}{% endblock %},{% block textColor %}{% endblock %});
</script>
{% endblock %}