{% extends "music/discography/disc-view.html" %}

{% block title %}Lotus{% endblock %}

{% block backgroundColor %} '#5D623E' {% endblock %}
{% block textColor %} '#BFB57F' {% endblock %}

{% block discTitle %} Lotus {% endblock %}

{% block discArt %} {{ url_for('static', filename='img/albumart/Lotus Cover.jpg') }} {% endblock %}

{% block discDescription %}
One evening, during meditation, my mother envisioned herself diving into a lotus pond and retrieving a child from the mud. Soon after this, she was gifted her first baby, and to this day swears that she found my soul in that pond.
The lotus flower is held sacred by many people throughout the world. To me, it stands as a symbol for rebirth and enlightenment. I hope that it will mean something special to you too.
{% endblock %}

{% block discTracks %}
{% endblock %}