{% extends "music/discography/disc-view.html" %}

{% block title %}Lotus{% endblock %}

{% block backgroundColor %} '#5D623E' {% endblock %}
{% block textColor %} '#BFB57F' {% endblock %}

{% block graphic %}
<img id="disc-graphic" src="{{ url_for('static', filename='img/albumart/lotus-graphic.png') }}" class="d-none d-md-block" style="left:-400px; opacity: 0.8;"></img>
{% endblock %}

{% block customAnimation %}
<style>
/* Graphic Animation */
@keyframes disc-graphic {
    from {left: 100px; opacity: 0; transform: rotate(90deg);} 
    to{left:-400px; opacity: 0.9; transform: rotate(0deg);} 
}
@-moz-keyframes disc-graphic {
    from {left: 100px; opacity: 0; -moz-transform: rotate(90deg);} 
    to{left:-400px; opacity: 0.9; -moz-transform: rotate(0deg);} 
}
@-webkit-keyframes disc-graphic {
    from {left: 100px; opacity: 0; -webkit-transform: rotate(90deg);} 
    to{left:-400px; opacity: 0.9; -webkit-transform: rotate(0deg);} 
}
</style>
{% endblock %}

{% block discTitle %} Lotus {% endblock %}
{% block discType %} Extended Play {% endblock %}
{% block discDate %} 07/04/2019 {% endblock %}
{% block discRuntime %} 13:15 {% endblock %}

{% block discArt %} {{ url_for('static', filename='img/albumart/Lotus Cover.jpg') }} {% endblock %}
{% block discArtBack %} {{ url_for('static', filename='img/albumart/Lotus Cover Back.jpg') }} {% endblock %}

{% block discDescription %}
One evening, during meditation, my mother envisioned herself diving into a lotus pond and retrieving a child from the mud. Soon after this, she was gifted her first baby, and to this day swears that she found my soul in that pond.
The lotus flower is held sacred by many people throughout the world. To me, it stands as a symbol for rebirth and enlightenment. I hope that it will mean something special to you too.
{% endblock %}

{% block discTracks %}
{% endblock %}

{% block linkStream %}https://distrokid.com/hyperfollow/maxfung/lotus{% endblock %}
{% block linkSpotify %}https://prf.hn/click/camref:1101ljvYv/pubref:albumuuid%3D3ED52F82-6ED4-44E5-A3AB7FFA71649F7F/destination:https://open.spotify.com/album/1sZtyaIana1Vr4JaUClco2{% endblock %}
{% block linkApple %}https://music.apple.com/us/album/lotus-ep/1469379080?uo=4{% endblock %}
{% block linkYouTube %}https://music.youtube.com/playlist?list=OLAK5uy_m0Pn5xVqOXvnQHmXoMd_TkRjB_uToMnLU{% endblock %}