{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/music.css') }}">
{% endblock %}

{% block title %}
Dev
{% endblock %}

{% block content %}
<script>
    backgroundColor = '#618053';
    var headerSection = document.getElementsByClassName('header-section')[0];
    document.body.classList.add('disc-background-fade');
    headerSection.classList.add('disc-background-fade');
    document.body.style.background = backgroundColor;
    headerSection.style.background = backgroundColor;
</script>
<div class="container" style="
    background-color: green;
    width: 100%;
    position: relative;
    max-width: 800px;">
    <div id="disc-nav-arrows" class="nav-arrows d-none d-lg-block"; style="background-color: yellow; position: absolute; width: 50px; left: -50px;">
        <p>Up</p>
        <p>Down</p>
    </div>
    <div id="disc-header" class="row" style="background-color:aqua; max-width: 800px; margin: auto;">
        <p>Lotus</p>
        <p>overview videos photos tracklist - spotify apple youtube</p>
    </div>
    <div id="disc-body" class="row container" style="background-color:bisque; margin: auto; max-width: 800px;">
        <div id="disc-art" class="row" style="background-color:lightblue; margin: auto;">
            <img src="{{ url_for('static', filename='img/albumart/Lotus Cover.jpg') }}" class="img-fluid" style="padding: 0;"></img>
        </div>
        <div id="disc-description" class="row" style="background-color:lightgreen; margin: auto;">
            One evening, during meditation, my mother envisioned herself diving into a lotus pond and retrieving a child from the mud. Soon after this, she was gifted her first baby, and to this day swears that she found my soul in that pond.
            The lotus flower is held sacred by many people throughout the world. To me, it stands as a symbol for rebirth and enlightenment. I hope that it will mean something special to you too.
        </div>
        <div id="disc-tracks" class="row" style="background-color:lightseagreen; margin: auto;">
            <table class="table text-muted">
                <tbody>
                    <tr>
                        <td>Smoke</td>
                        <td class="text-end">02:58</td>
                    </tr>
                    <tr>
                        <td>Angel</td>
                        <td class="text-end">03:09</td>
                    </tr>
                    <tr>
                        <td>Anything</td>
                        <td class="text-end">03:51</td>
                    </tr>
                    <tr>
                        <td>Sweet Dreams</td>
                        <td class="text-end">03:17</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="disc-footer-nav" class="row d-block d-lg-none" style="background-color:red; margin: auto;">
            Swipe up for videos (probably a down arrow)
        </div>
    </div>
</div>
{% endblock %}