{% extends "base.html" %}

{% from 'macros.html' import music_header %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/music.css') }}">
{% endblock %}

{% block title %}
Music
{% endblock %}

{% block header %}
{{ music_header() }}
{% endblock %}

{% block content %}
<video playsinline autoplay muted loop poster="{{ url_for('static', filename='img/music_landing.jpg') }}" id="bgvid">
  <source src="{{ url_for('static', filename='video/' + video + '.webm') }}" type="video/webm">
  <source src="{{ url_for('static', filename='video/' + video + '.mp4') }}" type="video/mp4">
</video>
{% endblock %}

{% block scripts %}
<script defer type="text/javascript" src="{{ url_for('static', filename='js/musicTile.js') }}"></script>
{% endblock %}