{% extends "base.html" %}

{% block head %}
About
{% endblock %}

{% block content %}
<p>
    Max Fung is a singer, songwriter, record producer, software developer, and graphic designer capable of making strong aesthetic statements, lush auditory soundscapes, and curated digital experiences. From audio to video, canvas to codebase, Max uses a wide range of mediums as expressions of his passion for building things from scratch and mastering the flow of the creative process.</p>
<p>
    Max was born in Thousand Oaks, California, U.S. on September 30, 1995 (Age 26) and currently resides and works in Los Angeles. Max’s music has garnered over 100,000 streams across more than 100 countries worldwide since the release of his first album, Lotus, in 2019. He followed this work up with Blue Moon in 2020. He also works as a software developer for Flexe, building technology-driven logistics programs for some of the world’s biggest retailers.</p>
{% endblock %}