{% extends "base.html" %}

{% block head %}
About
{% endblock %}

{% block content %}
<p>
    Max Fung is a singer, songwriter, record producer, software developer, and graphic designer capable of making strong aesthetic statements, lush auditory soundscapes, and curated digital experiences. From audio to video, canvas to codebase, Max uses a wide range of mediums as expressions of his passion for building things from scratch and mastering the flow of his creative process.
</p>
<p>
    Max was born in Thousand Oaks, California, U.S. on September 30, 1995 (Age 26) and currently resides and works in Los Angeles. Max’s music has garnered over 100,000 streams across more than 100 countries worldwide.
</p>
{% endblock %}