/* Global Styles */

:root {
    --main-bg-color: #fff;
    --max-page-width: 1100px;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: qirate;
    font-size: 18px;
    background-color: var(--main-bg-color);
    margin-bottom: 60px;
    margin:0;
    padding:0;
    height:100%;
}

@font-face{
    font-family: qirate;
    src: url('../fonts/Qirate.otf');
}

/* Navbar Styles */

.navbar-expand-lg {
    max-width: var(--max-page-width);
    background-color: var(--main-bg-color);
}

.navbar-nav > li{
    text-transform: lowercase;
    margin-right: 20px;
}

.navbar-brand {
    margin-right: 40px;
}

/* Content Styles */

.wrapper {
    max-width: var(--max-page-width);
    margin: auto;
}

.content {
    min-height: 400px;
    padding: 16px;
    margin-bottom: 60px;
    clear: both;
}

/* Footer Styles */

.footer {
    position:absolute;
    bottom:0;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 60px;
    padding: 0px 10px 0px 10px;
    height: 60px;
    max-width: var(--max-page-width);
    width: 100%;
}

.footer-icons > a {
    font-size: 18px;
    color: #000000;
    padding-left: 7px;
}