.music-header {
    padding-left: 10px;
    margin-left: 0;
    margin-right: auto;
}

.music-grid {
    display: flex;
    width: 100%;
    margin: auto;
}

.music-info {
    padding-top: 5px;
}

@media (min-width: 992px) {
    .music-tile {
        max-width: 460px;
        padding: 10px;
    }
}

@media (max-width: 991.98px) {
    .music-grid {
        overflow-x: hidden;
    }

    .music-tile {
        max-width: 420px;
        margin: auto;
        padding: 10px;
    }
}

@media (max-width: 859px) {
    .music-header {
        max-width: 420px;
        margin: auto;
    }
}

/* Fade in musics by Scroll (Mobile) */

.music-tile {
    opacity: 0.3;
    -webkit-transition-delay: .6s;
    -o-transition-delay: .6s;
    transition-delay: .6s;
    -webkit-transition: .8s;
    -o-transition: .8s;
    transition: .8s;
}
.bottom-right.inView {
    opacity: 1;
}
.inView {
    opacity: 1;
}

/* Disc View */

/* Background Transition */

.disc-color-transition {
    -webkit-transition: background 1.5s, color 1.5s, opacity 1.5s;
    -moz-transition: background 1.5s, color 1.5s, opacity 1.5s;
    -ms-transition: background 1.5s, color 1.5s, opacity 1.5s;
    -o-transition: background 1.5s, color 1.5s, opacity 1.5s;
    transition: background 1.5s, color 1.5s, opacity 1.5s;
}