/* Global Styles */

html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: qirate;
    font-size: 18px;
    margin-bottom: 60px;
    margin:0;
    padding:0;
    height:100%;
}

@font-face{
    font-family: qirate;
    src: url('../fonts/Qirate.otf');
}

/* Navbar Styles */

.navbar .navbar-nav {
    text-transform: lowercase;
}

.navbar-nav > li{
    margin-right: 20px;
}

.navbar-brand {
    margin-right: 40px;
}

/* Content Styles */

.content {
    max-width: 1000px;
    margin: auto;
}

/* Footer Styles */

.footer {
    font-size: 16px;
    text-transform: lowercase;
    padding-inline: 10px;
    margin: auto;
    height: 60px;
    max-width: 1000px;
    line-height: 60px;

    width: 100%;
    position:absolute;
    bottom:0;
}

.footer-icons {
    font-size: 18px;
}

.footer-icons > a {
    color: #000000;
    padding-left: 7px;
}