{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
{% endblock %}

{% block title %}
About
{% endblock %}

{% block content %}
<main class="content tight">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-12 col-lg-6">
                <picture>
                    <source srcset="{{ url_for('static', filename='img/about.jpg') }}" media="(min-width: 992px">
                    <img src="{{ url_for('static', filename='img/about-mobile.jpg') }}" class="img-fluid">
                </picture>
            </div>
            <div class="col-md-12 col-lg-6 ">
                <div class="row text">
                    <table class="table quick-facts text-muted">
                        <tbody>
                            <tr>
                                <td>Born</td>
                                <td class="text-end">September 30, 1995 (Age {{ age }})</td>
                            </tr>
                            <tr>
                                <td>Located In</td>
                                <td class="text-end">Los Angeles, California, U.S.</td>
                            </tr>
                            <tr>
                                <td>Occupation</td>
                                <td class="text-end">Musician, Developer, Creative</td>
                            </tr>
                            <tr>
                                <td>Genres</td>
                                <td class="text-end">Indie, Funk, Psych Rock, R&B</td>
                            </tr>
                            <tr>
                                <td>Technology</td>
                                <td class="text-end">Python, Web, Mobile, Full Stack</td>
                            </tr>
                            <tr>
                                <td>Years Active</td>
                                <td class="text-end">2019 - Present</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row text">
                    <p>Max Fung is a singer, songwriter, record producer, software developer, and graphic designer renowned for making strong aesthetic statements, lush auditory soundscapes, and curated digital experiences. From audio to video, canvas to codebase, Max uses a wide range of mediums as expressions of his passion for producing memorable experiences with his audience.</p>
                    <p>Max was born in Thousand Oaks, California, U.S. in 1995 and currently resides and works in Los Angeles. Max’s music has garnered over 100,000 streams across more than 100 countries worldwide. His code has been deployed to support some of the world's biggest companies.</p>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}