<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
            crossorigin="anonymous"
        >
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <title>{% block head %}{% endblock %}Max Fung</title>
    </head>
    <body>
        <div class="wrapper">
            <nav class="navbar sticky-top navbar-expand-lg">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/home">
                        <img src="{{ url_for('static', filename='img/site-logo.png') }}", height="40">
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="bi-asterisk"></i>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarText">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li><a class="nav-item nav-link" href="/music">Music</a></li>
                            <li><a class="nav-item nav-link" href="/dev">Dev</a></li>
                            <li><a class="nav-item nav-link" href="/projects">Projects</a></li>
                            <li><a class="nav-item nav-link" href="/blog">Blog</a></li>
                        </ul>
                        <ul class="navbar-nav navbar-right">
                            <li><a class="nav-item nav-link" href="/about">About</a></li>
                            <li><a class="nav-item nav-link" href="/contact">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div class="content">
            {% block content %}{% endblock %}
        </div>
        <div class="wrapper">
            <footer class="footer">
                <div class="d-flex justify-content-between">
                    <span class="text-muted">By Max Fung <span style="font-family: sans-serif;">©</span> {{ now.year }}</span>
                    <div class="footer-icons">
                        <a href="https://instagram.com/maxhenryfung/" target="_blank"><i class="bi-instagram"></i></a>
                        <a href="https://twitter.com/mxfng/" target="_blank"><i class="bi-twitter"></i></a>
                        <a href="https://www.tiktok.com/@maxfungg" target="_blank"><i class="bi-tiktok"></i></a>
                        <a href="https://github.com/mxfng/" target="_blank"><i class="bi-github"></i></a>
                        <a href="https://www.linkedin.com/in/maxfung/" target="_blank"><i class="bi-linkedin"></i></a>
                    </div>
                </div>
            </footer>
        </div>
        <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"
        ></script>
        <script src="{{ url_for('static', filename='js/navbar.js') }}"></script>
    </body>
</html>