<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    
    {% block head %}{% endblock %}
    
    <title>{% block title %}{% endblock %}</title>
</head>

{% set instagram = 'https://instagram.com/maxhenryfung/' %}
{% set twitter = 'https://twitter.com/mxfng/' %}
{% set tiktok = 'https://www.tiktok.com/@maxfungg' %}
{% set youtube = 'https://www.youtube.com/c/MaxFung' %}
{% set github = 'https://github.com/mxfng/' %}
{% set linkedin = 'https://www.linkedin.com/in/maxfung/' %}

<body>
    <header class="header-section container sticky-lg-top">
        <div class="header">
            <nav class="navbar navbar-expand-lg">
                {% block header %}{% endblock %}
            </nav>
        </div>
    </header>
    <section class="content">
        {% block content %}{% endblock %}
    </section>
</body>
<script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"
></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/mobileNav.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/contentTransition.js') }}"></script>

{% block scripts %}{% endblock %}

</html>
