{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block title %}
Max Fung
{% endblock %}

{% block navbar_brand_link %}
href="/"
{% endblock %}

{% block content %}
<a href="music/blue-moon" style="color: inherit; text-decoration: inherit;">
    <div class="row justify-content-center">
        <img
        src="{{ url_for('static', filename='img/gallery/blue-moon/reeditedmax-2 Large.jpeg') }}"
        style="max-width: 666px; height: 666px; object-fit: cover; padding: 10px;"/>
        <p style="text-align: center;">Blue Moon EP is out now</p>
    </div>
</a>
{% endblock %}

{% block scripts %}{% endblock %}