{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block title %}
Max Fung
{% endblock %}

{% block content %}
<main class="content">
    <div class="container text">
        <p>I'm baby beard lo-fi kinfolk, lyft disrupt occupy echo park. Woke live-edge pug seitan, etsy health goth glossier wayfarers DSA tumblr brunch helvetica poke. Knausgaard banh mi tote bag bicycle rights af ramps sustainable direct trade food truck leggings waistcoat. Master cleanse tousled bespoke microdosing banh mi. Brooklyn actually typewriter craft beer VHS tacos cornhole shaman lomo.</p>
        <p>Jean shorts viral brunch kitsch locavore copper mug. Shaman kitsch fanny pack fingerstache, church-key affogato XOXO listicle adaptogen. Post-ironic letterpress brunch, forage shoreditch ennui knausgaard keytar craft beer air plant pitchfork kinfolk. Deep v gochujang literally pork belly la croix fashion axe gluten-free swag hell of green juice synth blue bottle. La croix photo booth slow-carb four dollar toast yes plz 3 wolf moon. Wayfarers chillwave microdosing venmo, next level gochujang YOLO vexillologist.</p>
    </div>
</main>
{% endblock %}