{% extends "base.html" %}

{% from 'macros.html' import landing_header %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/landing.css') }}">
{% endblock %}

{% block title %}
Max Fung
{% endblock %}

{% block header %}
{{ landing_header() }}
{% endblock %}

{% block content %}
<script defer type="text/javascript" src="{{ url_for('static', filename='js/landingPage.js') }}"></script>

<div id="wrapper">
    <div id="left-half" class="half-screen music row">
        <a id="left-link" href="/music" class="prompt-link align-middle">Music</a>
    </div>
    <div id="right-half" class="half-screen software row">
        <a id="right-link" href="/software" class="prompt-link align-middle">Software</a>
    </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}