<!--
Landing Header
A header with the brand logo centered.
-->

{% macro landing_header() %}

<a class="navbar-brand mx-auto" href="/">
    <svg id="site-logo-svg"
        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 108.87 69.07">
        <defs>
            <style>.cls-1{fill:currentColor;}</style>
        </defs>
        <path class="cls-1" d="M28.62,32.42c-1.11-2.44-3.29-3.66-6.54-3.66-3.77,0-6.31,1.22-7.61,3.66-.71,1.39-1.07,3.46-1.07,6.22v30.43H0V18.6H12.85v7.38c1.64-2.63,3.18-4.5,4.64-5.61,2.57-1.98,5.89-2.97,9.97-2.97,3.87,0,6.99,.85,9.37,2.55,1.92,1.58,3.37,3.6,4.36,6.08,1.73-2.97,3.88-5.15,6.45-6.54,2.72-1.39,5.75-2.09,9.09-2.09,2.23,0,4.42,.43,6.59,1.3,2.16,.87,4.13,2.38,5.89,4.55,1.42,1.76,2.38,3.93,2.88,6.49,.31,1.7,.46,4.19,.46,7.47l-.09,31.87h-13.54V36.88c0-1.92-.31-3.49-.93-4.73-1.18-2.35-3.34-3.53-6.49-3.53-3.65,0-6.17,1.52-7.56,4.55-.71,1.61-1.07,3.54-1.07,5.8v30.1h-13.31v-30.1c0-3-.31-5.18-.93-6.54Z"/>
        <rect class="cls-1" x="82.89" y="56.08" width="12.99" height="12.99"/>
        <rect class="cls-1" x="95.88" y="43.09" width="12.99" height="12.99"/>
        <path class="cls-1" d="M96.07,18.97v-4.27c0-.99,.33-1.89,1-2.71,.67-.82,1.87-1.21,3.62-1.16,1.75,.05,2.99,.12,3.73,.21V.28c-1.18-.09-2.1-.16-2.78-.21-.68-.05-1.44-.07-2.27-.07-7.33,0-11.95,1.52-13.87,4.55-1.83,2.04-2.74,5.77-2.74,11.18v3.25h-7.24v9.32h7.38v14.79h12.99v12.99h-12.99v12.99h13.17V28.3h8.67v-9.32h-8.67Z"/>
    </svg>
</a>

{% endmacro %}

<!--
Music Header
A header with a left-aligned brand logo and music-related links.
-->

{% macro music_header() %}

<!-- Brand -->
<a class="navbar-brand" href="/">
    <svg id="site-logo-svg"
        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 108.87 69.07">
        <defs>
            <style>.cls-1{fill:currentColor;}</style>
        </defs>
        <path class="cls-1" d="M28.62,32.42c-1.11-2.44-3.29-3.66-6.54-3.66-3.77,0-6.31,1.22-7.61,3.66-.71,1.39-1.07,3.46-1.07,6.22v30.43H0V18.6H12.85v7.38c1.64-2.63,3.18-4.5,4.64-5.61,2.57-1.98,5.89-2.97,9.97-2.97,3.87,0,6.99,.85,9.37,2.55,1.92,1.58,3.37,3.6,4.36,6.08,1.73-2.97,3.88-5.15,6.45-6.54,2.72-1.39,5.75-2.09,9.09-2.09,2.23,0,4.42,.43,6.59,1.3,2.16,.87,4.13,2.38,5.89,4.55,1.42,1.76,2.38,3.93,2.88,6.49,.31,1.7,.46,4.19,.46,7.47l-.09,31.87h-13.54V36.88c0-1.92-.31-3.49-.93-4.73-1.18-2.35-3.34-3.53-6.49-3.53-3.65,0-6.17,1.52-7.56,4.55-.71,1.61-1.07,3.54-1.07,5.8v30.1h-13.31v-30.1c0-3-.31-5.18-.93-6.54Z"/>
        <rect class="cls-1" x="82.89" y="56.08" width="12.99" height="12.99"/>
        <rect class="cls-1" x="95.88" y="43.09" width="12.99" height="12.99"/>
        <path class="cls-1" d="M96.07,18.97v-4.27c0-.99,.33-1.89,1-2.71,.67-.82,1.87-1.21,3.62-1.16,1.75,.05,2.99,.12,3.73,.21V.28c-1.18-.09-2.1-.16-2.78-.21-.68-.05-1.44-.07-2.27-.07-7.33,0-11.95,1.52-13.87,4.55-1.83,2.04-2.74,5.77-2.74,11.18v3.25h-7.24v9.32h7.38v14.79h12.99v12.99h-12.99v12.99h13.17V28.3h8.67v-9.32h-8.67Z"/>
    </svg>
</a>

<!-- Mobile Icon -->
<button id="navbar-icon" class="navbar-icon d-block d-lg-none" data-bs-toggle="collapse" data-bs-target="#navbarMenu"
    aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span></span><span></span><span></span><span></span>
</button>

<!-- Links -->
<div id="navbarMenu" class="collapse navbar-collapse">
    <div class="navbar-lists">
        <ul class="navbar-nav navbar-list-item">
            <li class="d-block d-lg-none "><a class="nav-link" href="/">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="/music">Music</a></li>
            <li class="nav-item"><a class="nav-link" href="/music/releases">Releases</a></li>
            <li class="nav-item"><a class="nav-link" href="/">Photo</a></li>
            <li class="nav-item"><a class="nav-link" href="/">Video</a></li>
            <li class="nav-item"><a class="nav-link" href="/">Info</a></li>
        </ul>
    </div>
</div>

{% endmacro %}

<!--
Software Header
A header with a left-aligned brand logo and software-related links.
-->

{% macro software_header() %}

<!-- Mobile Icon -->
<button id="navbar-icon" class="navbar-icon d-block d-lg-none" data-bs-toggle="collapse" data-bs-target="#navbarMenu"
    aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span></span><span></span><span></span><span></span>
</button>

<!-- Links -->
<div id="navbarMenu" class="collapse navbar-collapse">
    <div class="navbar-lists">
        <ul class="navbar-nav navbar-list-item ms-auto">
            <li class="d-block d-lg-none "><a class="nav-link" href="/">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="/software">Software</a></li>
            <li class="nav-item"><a class="nav-link" href="/">Projects</a></li>
            <li class="nav-item"><a class="nav-link" href="/">Resume</a></li>
            <li class="nav-item"><a class="nav-link" href="/">Info</a></li>
        </ul>
    </div>
</div>

<!-- Brand -->
<a class="navbar-brand" href="/">
    <svg id="site-logo-svg"
        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 108.87 69.07">
        <defs>
            <style>.cls-1{fill:currentColor;}</style>
        </defs>
        <path class="cls-1" d="M28.62,32.42c-1.11-2.44-3.29-3.66-6.54-3.66-3.77,0-6.31,1.22-7.61,3.66-.71,1.39-1.07,3.46-1.07,6.22v30.43H0V18.6H12.85v7.38c1.64-2.63,3.18-4.5,4.64-5.61,2.57-1.98,5.89-2.97,9.97-2.97,3.87,0,6.99,.85,9.37,2.55,1.92,1.58,3.37,3.6,4.36,6.08,1.73-2.97,3.88-5.15,6.45-6.54,2.72-1.39,5.75-2.09,9.09-2.09,2.23,0,4.42,.43,6.59,1.3,2.16,.87,4.13,2.38,5.89,4.55,1.42,1.76,2.38,3.93,2.88,6.49,.31,1.7,.46,4.19,.46,7.47l-.09,31.87h-13.54V36.88c0-1.92-.31-3.49-.93-4.73-1.18-2.35-3.34-3.53-6.49-3.53-3.65,0-6.17,1.52-7.56,4.55-.71,1.61-1.07,3.54-1.07,5.8v30.1h-13.31v-30.1c0-3-.31-5.18-.93-6.54Z"/>
        <rect class="cls-1" x="82.89" y="56.08" width="12.99" height="12.99"/>
        <rect class="cls-1" x="95.88" y="43.09" width="12.99" height="12.99"/>
        <path class="cls-1" d="M96.07,18.97v-4.27c0-.99,.33-1.89,1-2.71,.67-.82,1.87-1.21,3.62-1.16,1.75,.05,2.99,.12,3.73,.21V.28c-1.18-.09-2.1-.16-2.78-.21-.68-.05-1.44-.07-2.27-.07-7.33,0-11.95,1.52-13.87,4.55-1.83,2.04-2.74,5.77-2.74,11.18v3.25h-7.24v9.32h7.38v14.79h12.99v12.99h-12.99v12.99h13.17V28.3h8.67v-9.32h-8.67Z"/>
    </svg>
</a>

{% endmacro %}

<!--
Pixel Grid
Generates a 6x8 square grid of translucent, animated pixels over a provided image.
Dynamically resizes the grid to 6x6 when the browser screen size is below 992px.

@param img must use a 4:3 aspect ratio
@param img_small must use a 1:1 aspect ratio
@param max_height is the maximum container height in pixels
@param max_opacity is the upper opacity value for animation
@param min_opacity is the lower opacity value for animation
@param duration_upper_bound is the animation's upper time duration in seconds
@param duration_lower_bound is the animation's lower time duration in seconds
-->

{% macro pixel_grid(
    img,
    img_small,
    max_height,
    max_opacity = 0.4,
    min_opacity = 0,
    duration_lower_bound = 3,
    duration_upper_bound = 5,
    do_not_show = [],
    do_not_animate = []
) %}

<style>
    .pixelgrid {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        overflow: hidden;
        display: grid;
        grid-template-columns: auto auto auto auto auto auto;
    }

    .pixelgrid::selection {
        background-color: transparent;
        color: #000;
    }

    .pixelgrid::-moz-selection {
        background-color: transparent;
        color: #000;
    }

    .pixelgrid .sm {
        grid-template-rows: auto auto auto auto auto auto;
    }

    .pixelgrid .lg {
        grid-template-rows: auto auto auto auto auto auto auto auto;
    }

    .pixel {
        background: var(--background-color);
        animation-iteration-count: infinite;
        visibility: visible;
        -webkit-transition: background .5s;
    }

    @media (min-width: 992px) {
        .sm {
            display: none;
        }
    }

    @media (max-width: 991.99px) {
        .lg {
            display: none;
        }
    }

    .pause-animation {
        -webkit-animation-play-state:paused;
        -moz-animation-play-state:paused;
        -o-animation-play-state:paused; 
        animation-play-state:paused;
        opacity: 1;
    }

    .resume-animation {
        -webkit-animation: flickerAnimation {{ duration }}s infinite;
        -moz-animation: flickerAnimation {{ duration }}s infinite;
        -o-animation: flickerAnimation {{ duration }}s infinite;
        animation: flickerAnimation {{ duration }}s infinite;
    }

    .clicked {
        overflow: hidden;
    }

    @keyframes flickerAnimation {
        0%   { opacity:{{ max_opacity }}; }
        50%  { opacity:{{ min_opacity }}; }
        100% { opacity:{{ max_opacity }}; }
    }
        @-o-keyframes flickerAnimation{
        0%   { opacity:{{ max_opacity }}; }
        50%  { opacity:{{ min_opacity }}; }
        100% { opacity:{{ max_opacity }}; }
    }
        @-moz-keyframes flickerAnimation{
        0%   { opacity:{{ max_opacity }}; }
        50%  { opacity:{{ min_opacity }}; }
        100% { opacity:{{ max_opacity }}; }
    }
        @-webkit-keyframes flickerAnimation{
        0%   { opacity:{{ max_opacity }}; }
        50%  { opacity:{{ min_opacity }}; }
        100% { opacity:{{ max_opacity }}; }
    }

    /* Assign animation to pixel class elements */
    {% for n in range(1,49) %}
        /* Omit select number of class elements */
        {% if n in do_not_show %}
            .pixelgrid .pixel:nth-child({{ n }}) {
                display: none;
            }
        {% elif n not in do_not_animate %}
            {% set duration = range(
                duration_lower_bound * 10,
                duration_upper_bound * 10 + 1
            ) | random / 10 %}
            .pixelgrid .pixel:nth-child({{ n }}) {
                -webkit-animation: flickerAnimation {{ duration }}s infinite;
                -moz-animation: flickerAnimation {{ duration }}s infinite;
                -o-animation: flickerAnimation {{ duration }}s infinite;
                animation: flickerAnimation {{ duration }}s infinite;
            }
        {% endif %}
    {% endfor %}
</style>
<div class="col-md-12 col-lg-6" style="
    margin: auto;
    position: relative;
    padding: 0;
    width: auto;"
>
    <div id="pixel-grid" class="pixelgrid lg" draggable="false">
        {% for i in range(1,9) %}
            {% for j in range (1,7) %}
                <div
                    id="lg {{ i }}{{ j }}"
                    class="pixel"
                    style="
                        grid-row: {{ i }};
                        grid-column: {{ j }};
                        opacity: {{ range(0,101) | random/100 }};
                    "
                >
                </div>
            {% endfor %}
        {% endfor %}
    </div>
    <div id="pixel-grid-small" class="pixelgrid sm">
        {% for i in range(1,7) %}
            {% for j in range (1,7) %}
                <div
                    id="sm {{ i }}{{ j }}"
                    class="pixel"
                    style="
                        grid-row: {{ i }};
                        grid-column: {{ j }};
                        opacity: {{ range(0,101) | random/100 }};
                        "
                >
                </div>
            {% endfor %}
        {% endfor %}
    </div>
    <picture>
        <source srcset="{{ img }}" media="(min-width: 992px)" class="img-fluid">
        <img src="{{ img_small }}" class="img-fluid" style="max-height: {{ max_height }}px; margin: auto; padding: 0;">
    </picture>
</div>

<script type="text/javascript" src="{{ url_for('static', filename='js/pixelGrid.js') }}"></script>

{% endmacro %}