{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/music.css') }}">
{% endblock %}

{% block title %}
Music
{% endblock %}

{% block content %}
<div class="content">
    <div class="d-flex flex-column album-grid">
        <div id="blue-moon" class="album-container">
            <img src="{{ url_for('static', filename='img/albumart/Blue Moon Cover.jpg') }}" class="img-fluid"></img>
        </div>
        <div id="lotus" class="album-container">
            <img src="{{ url_for('static', filename='img/albumart/Lotus Cover.jpg') }}" class="img-fluid"></img>
        </div>
    </div>
</div>
{% endblock %}